.leaflet-container{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    border: 1px solid #000;
}

#map-container{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}

#map-container h2{
    margin-bottom: 30px;
    
}

